<% if !user_signed_in? %>

<style>
    html
    {
        background: url("/bg.jpg") no-repeat center center fixed;
        background-size: 140% 140%;
    }
    h1
    {
        color:white;
    }
</style>
    <h1>Welcome to auriga!</h1>
<% else %>



<% end %>
